/* || RESETS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

/* || UTILITY CLASSES */
.nowrap {
	white-space: nowrap;
}

.center {
	text-align: center;
}

/* || VARIABLES */
:root {
	/* fonts */
	--FF: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	--FS: clamp(1.1rem, 1.7vh, 2.2rem);

	/* colors */
	--NAV-BGCOLOR: #672280;
	--NAV-BGLIGHT: #974cb2;
	--NAV-TEXTCOLOR: #e5e5e5;
}

/* || GENERAL CLASSES */
body {
	font-family: var(--FF);
	font-size: var(--FS);
}

/* navbar */
.nav {
	background-color: #c76fe7;
	background-image: linear-gradient(
		to right,
		var(--NAV-BGCOLOR),
		var(--NAV-BGLIGHT)
	);
	color: var(--NAV-TEXTCOLOR);
	height: 80px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 0 1rem;
	gap: 0.5rem;
}

/* form */
.form {
	margin: 2rem 1rem;
	display: flex;
	flex-flow: column;
	gap: 1.1rem;
}

.form__input-div {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.form input,
.form button {
	font-family: inherit;
	font-size: inherit;
	padding: 0.5rem;
	border-radius: 5px;
	width: 100%;
}

.form button {
	background-color: var(--NAV-BGCOLOR);
	background-image: linear-gradient(
		to right,
		var(--NAV-BGCOLOR),
		var(--NAV-BGLIGHT)
	);
	color: var(--NAV-TEXTCOLOR);
	border: none;
	padding: 1rem;
	cursor: pointer;
}

.form__image-div {
	position: relative;
	display: flex;
	justify-content: center;
}

.form__meme--text {
	position: absolute;
	width: inherit;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	margin: 15px 0;
	padding: 0 5px;
	font-family: impact, sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
		-2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
		2px 2px 5px #000;
}

.form__top-text {
	top: 0;
}

.form__bottom-text {
	bottom: 0;
}

@media screen and (min-width: 576px) {
	.form__div {
		display: flex;
		flex-flow: row;
		justify-content: center;
	}
	.form {
		width: 70%;
	}
}
